@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
	font-size: 100%;
}

body {
	font-family: serif;
	line-height: 1.7;
	color: #000;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/*レイアウト*/
.align-center {
	text-align: center;
}

/*見出し*/
.font-english {
	font-family: serif;
	font-weight: bolder;
}

.title {
	font-size: x-large;
}

.imger{
	background-image: url();
	background-position: 30px 80px;
}

/*ヘッダー
------------------------------- */
.page-header {
	padding-top: 5rem;
	padding-bottom: 2rem;
	background-color: #dcdcdc;
}

.main-nav {
	display: flex;
	justify-content: center;
	gap: 2.5rem;
	font-size: 1.5rem;
	list-style: none;
	margin-top: 5rem;
}

.main-nav a {
	color: #000;
}

.main-nav a:hover {
	color: #696969;
}

/*サブ*/
#Profile {
	padding-left: 20rem;
	padding-right: 20rem;
	padding-top: 7rem;
	background-color: #f0f8ff;
}

#Skills {
	padding-left: 20rem;
	padding-right: 15rem;
	padding-top: 7rem;
	background-color: #f0f8ff;
}

#Works {
	padding-left: 20rem;
	padding-right: 20rem;
	padding-top: 7rem;
	list-style-position: inside;
	list-style-type: circle;
	background-color: #f0f8ff;
}

#Contact {
	padding-left: 20rem;
	padding-right: 20rem;
	padding-top: 7rem;
	padding-bottom: 7rem;
	background-color: #f0f8ff;
}

/*フッター
------------------------------- */
.copyright {
	background-color: #dcdcdc;
	text-align: center;
	padding: 2rem;
	color: #000;
}